.input_video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.output_canvas {
    width: 100%; /*fills container*/
    display: block;
    position: relative;
    left: 0;
    top: 0;
}

.controls {
    position: sticky;
    display: inline-block;
    left: 20px;
    bottom: 20px;
    background-color: rgb(37, 37, 37);
    padding: 5px;
    border: 2px solid #060606;
    border-radius: 15px;
    height: auto;
    width: auto;
}

.controls .title {
    text-align: center;
    color: rgb(105, 141, 250);
}
.instructions {
    text-align: center;
}
.instructions.notReady {
    visibility: hidden;
}

.saving {
    position: absolute; /*maybe should be relative if we want side bar */
    display: inline-block;
    top:50%;
    left: 50%;
    margin: auto;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    border: 2px solid #060606;
    border-radius: 15px;
    height: auto;
    width: auto;
    font-size: x-large;
    visibility: hidden;
}
.saving.showing {
    visibility: visible;
}

.sureButtons {
    position: absolute; /*maybe should be relative if we want side bar */
    display: inline-block;
    top:50%;
    left: 50%;
    margin: auto;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    border: 2px solid #060606;
    border-radius: 15px;
    height: auto;
    width: auto;
    font-size: x-large;
}

.hidden {
    visibility: hidden;
}

.gone {
    display: none;
}

h1 {
    color: rgb(105, 141, 250);
    text-align: center;
}

h2 {
    color: rgb(190, 190, 190);
    text-align: center;
}

p {
    color: rgb(190, 190, 190);
    text-align: center;
}

body {
    background-color: rgb(37, 37, 37);
}



div {
    background-color: rgb(37, 37, 37);
    color: rgb(190, 190, 190);
}

.welcomeb {
    text-align: center;
}

.dcp {
    text-align: left;
}


.guessBlock {
    position: absolute; /*maybe should be relative if we want side bar */
    display: inline-block;
    top:50%;
    left: 50%;
    margin: auto;
    background-color: rgb(37, 37, 37);
    padding: 15px;
    border: 2px solid #060606;
    border-radius: 15px;
    height: auto;
    width: auto;
}


.sorryBlock {
    left: 2%;
    top: 25%
}

.spacePosition {
    top: 2%;
    left: 2%;
}



.guess {
    font-size: large;
}

button {
    transition-duration: 0.4s;
    background-color: rgb(105, 141, 250);
    font-size: 15px;
    border: rgb(105, 141, 250);
    color: rgb(37, 37, 37);
}

.button:hover {
    background-color: rgb(37, 37, 37);
    color: rgb(105, 141, 250);
}

.image {
    width: 50%;
    height: auto;
}