.input_video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.output_canvas {
    width: 100%;
    display: block;
    position: relative;
    left: 0;
    top: 0;
}
